pip>=22.1.1
pandas==1.3.5
alpha-vantage==2.3.1
finterstellar==0.2.14
finance-datareader==0.9.50
beautifulsoup4==4.7.1
OpenDartReader==0.1.1
plotly==5.5.0
pykrx==1.0.39
seaborn==0.11.2
mapboxgl==0.10.2
openpyxl==3.0.9
xlrd==1.1.0
streamlit-aggrid==0.2.3
#streamlit==1.5.0
shillelagh==1.0.12
gspread==5.3.2
oauth2client==4.1.3
click==8
folium>=0.11
streamlit_folium==0.6.14
jinja2
branca
